﻿@model Forms.Models.FIO
@{
    ViewBag.Title = "Добавление пользователя";
}
    <form asp-action="create" asp-controller="home">
        <div class="form-group">
            <label asp-for="surname" class="control-label">Фамилия</label>
            <input type="text" asp-for="surname" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="name" class="control-label">Имя</label>
            <input type="text" asp-for="name" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="patronymic" class="control-label">Отчество</label>
            <input type="text" asp-for="patronymic" class="form-control" />
        </div>

        <div class="form-group">
            <input type="submit" value="Отправить" class="btn btn-default" />
        </div>
    </form>