﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Пользователи</h1>
</div>
@model IEnumerable<Forms.Models.FIO>
@{
    ViewBag.Title = "Все пользователи";
}
<a asp-action="Create">Добавить пользователя</a>
<table class="table">
    <tr><td>Фамилия</td><td>Имя</td><td>Отчество</td></tr>
    @foreach (var item in Model)
    {
        <tr><td>@item.surname</td><td>@item.name</td><td>@item.patronymic</td></tr>
    }
</table>